*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(245, 226, 223);
}

#container {
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    /* border: 1px solid red; */
    background: white;
}

#header {
    height: 145px;
    background: #f0f0f0;
}

#logo {
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img {
    float: left;
    height: 100px;
}

#logo a {
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #db8cd1;
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
}

#logo a:hover {
    text-shadow: 0px 2px 1px #222222, 0px 0px 4px #db8cd1;
}

/*menu */

#menu {
    clear: both;
    background: #f3e6f1;
    color: white;
    height: 55px;
    border-bottom: 4px solid #db8cd1;
}

#menu ul {
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
}

#menu ul li {
    line-height: 55px;
    float: left;
    border-right: 1px solid #e7b6f3;

}

#menu a {
    display: block;
    color: black;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;

}

#menu a:first-child {
    border-left: 1px solid #e7b6f3;
}

#menu a:hover {
    background: #e7b6f3;
}

#content {
    margin: 0px auto;
    overflow: hidden;
    background: white;
    border: 1px solid #b96c6c;
}